.param-label {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: inline-block;
  color: red;
  font-size: 8pt;
  height: 8pt;
  line-height: 8pt;
  font-family: sans-serif;
  margin-left: -10px;
  margin-top: 5px;
}
.param-label.for-form {
  margin-top: -10px;
}
body {
  line-height: 3;
}
form {
  border: 1px red solid;
}
